@charset="utf-8";
/**************************************************************************************
**                                                                                   **
** @autor: Narmer Abouhassan                                                         **
** @brief: Formatação de tabelas                                                     **
** @data: 02/06/2014                                                                 **
**                                                                                   **
***************************************************************************************/

.atlas-tabelas-filtro{
	width: 100%;
	margin-top: 1em;
}

	.atlas-tabelas-filtro td{
		vertical-align: bottom;
	}
	
	.atlas-tabelas-filtro td.atlas-tabelas-filtro-alinha-direita{
		text-align: right;
	}

.atlas-tabelas-formulario{
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0px;
}

	.atlas-tabelas-formulario tr{
		border-bottom: 1px solid #90F;
	}
	
	.atlas-tabelas-formulario td{
		vertical-align: bottom;
		text-align: left;
		padding: 1em;
		border-bottom: 1px solid rgba(22,89,191,1);
	}

		.atlas-tabelas-formulario tr.atlas-tabelas-formulario-tr-linha{
			background-color: rgba(238,239,241,1);
		}
	
	.atlas-tabelas-formulario td.atlas-tabelas-formulario-label{
		text-align: right;
		vertical-align: top;
		padding: 1.4em 0em 1em 4em;
	}
	
	.atlas-tabelas-formulario td.atlas-tabelas-formulario-alinha-direita{
		text-align: right;
	}