@charset="utf-8";
/**************************************************************************************
**                                                                                   **
** @autor: Narmer Abouhassan                                                         **
** @brief: Formatação da paginação do sistema                                        **
** @data: 02/06/2014                                                                 **
**                                                                                   **
***************************************************************************************/

.atlas-paginacao, .atlas-paginacao-miolo{
	clear: both;
	margin-bottom: 1em;
	margin-top: 1em;
	height: 30px;
}

.atlas-paginacao-miolo{
	padding: 1em 0;
}

ul.atlas-paginacao{
	display: block;
	margin: 0 auto;
	list-style: none;
}

	ul.atlas-paginacao-max {
		padding-left: 20em;
	}
	
	ul.atlas-paginacao-max-interna{
		padding-left: 9em;
	}

	ul.atlas-paginacao li{
		float: left;
		display: block;
	}
	
	ul.atlas-paginacao li.atlas-paginacao-link-ativo{
		width: 22px;
		height: 22px;
		text-align: center;
		border: 1px solid rgba(194,194,194,1);
		border-radius: 0.2em;
		-moz-border-radius: 0.2em;
		-webkit-border-radius: 0.2em;
		margin: 0 0.3em;
		padding-top: 0.4em;
	}
	
		ul.atlas-paginacao li.atlas-paginacao-link-ativo a{
			font-size: 1.1em !important;
			text-decoration: none !important;
			color: rgba(30,30,30,1) !important;
		}
		
		ul.atlas-paginacao li.atlas-paginacao-link-ativo a:hover{
			text-decoration: underline !important;
		}
	
	ul.atlas-paginacao li.atlas-paginacao-link-atual{
		width: 22px;
		height: 22px;
		text-align: center;
		font-size: 1.2em !important;
		color: rgba(0,0,0,1) !important;
		font-weight: bold;
		margin: 0 0.3em;
		padding-top: 2px;
		padding-top: 0.4em;
	}

	ul.atlas-paginacao li.atlas-paginacao-link-pontos{
		width: 22px;
		height: 22px;
		text-align: center;
		margin: 0 0.3em;
		padding-top: 2px;
	}
	
		ul.atlas-paginacao li.atlas-paginacao-link-pontos a{
			text-align: center;
			font-size: 1.1em !important;
			text-decoration: none !important;
			color: rgba(102,102,102,1) !important;
		}
		
		ul.atlas-paginacao li.atlas-paginacao-link-pontos a:hover{
			text-decoration: underline !important;
		}
	
	ul.atlas-paginacao li.atlas-paginacao-link-direcional{
		text-align: center;
		margin: 0 0.3em;
		padding-top: 2px;
		padding-top: 0.6em;
	}
	
		ul.atlas-paginacao li.atlas-paginacao-link-direcional a{
			text-align: center;
			font-size: 1.1em !important;
			text-decoration: none !important;
			color: rgba(21,89,191,1) !important;
		}
		
			ul.atlas-paginacao li.atlas-paginacao-link-direcional a:hover{
				text-decoration: underline !important;
				color: rgba(102,102,102,1) !important;
			}